.task-add__container {
  padding-block: 10px;
  max-width: 600px;
  margin: 0 auto;
}

/* ==== Form add===== */

.task-form {
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(40, 141, 40);
}

.task-form__field {
  padding-block: 5px;
  display: flex;
  gap: 5px;
}

.task-form__field label {
  padding: 5px;
}

.task-form__field input {
  padding: 9px 10px;
  min-width: 45%;
  border: 1px solid grey;
  box-shadow: 2px 2px 5px grey;
  border-radius: 5px;
}

.task-form__field textarea {
  padding: 3px 5px;
  min-width: 70%;
  min-height: 55px;
  border: 1px solid grey;
  box-shadow: 2px 2px 5px grey;
  border-radius: 5px;
}

.task-form-error {
  color: red;
  padding-bottom: 10px;
  margin-left: 20%;
}

.task-form__add {
  padding: 12px;
}

.task-btn__submit {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: rgb(40, 141, 40);
  color: white;
  cursor: pointer;
  transition: all 0.3s linear;
  min-width: 250px;
  font-size: 18px;
}

.task-btn__submit:hover {
  background-color: rgb(40, 121, 40);
}