.task-add__container {
  padding-block: 10px;
  max-width: 600px;
  margin: 0 auto;
}

/* ==== Form add===== */

.task-form {
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(40, 141, 40);
}

.task-form__field {
  padding-block: 5px;
  /* display: flex;
  gap: 5px; */
}

.task-form__field label {
  padding: 5px;
  display: none;
}

.task-form__field input {
  padding: 9px 10px;
  min-width: 45%;
  border: 1px solid grey;
  box-shadow: 2px 2px 5px grey;
  border-radius: 5px;
}

.task-form__field textarea {
  padding: 3px 5px;
  min-width: 100%;
  min-height: 55px;
  border: 1px solid grey;
  box-shadow: 2px 2px 5px grey;
  border-radius: 5px;
}

.task-form__field-important {
  display: flex;
  gap: 5px;
  /* flex-direction: column; */
  padding: 5px;
  width: fit-content;
}

.task-form__field-important input {
  display: none;
}

.task-form__field-important label {
  cursor: pointer;
  display: flex;
  gap: 5px;
  transition: all 0.25s linear;
}

.task-form__field-important label:hover {
  color: red;
}

.task-form__field-important label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1.5px solid grey;
  background-color: white;
}

.task-form__field-important input[type="checkbox"]:checked + label::before {
  background: url(../../../assets/icons/check-mark-3-16.png) center / 16px no-repeat;
  border: 1.5px solid green;
}

.task-form-error {
  color: red;
  padding-bottom: 10px;
  margin-left: 20%;
}

.task-form__add {
  padding: 12px;
}

.task-btn__submit {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: rgb(40, 141, 40);
  color: white;
  cursor: pointer;
  transition: all 0.3s linear;
  min-width: 250px;
  font-size: 18px;
}

.task-btn__submit:hover {
  background-color: rgb(40, 121, 40);
}

.task-form__update {
  padding: 12px;
}

.task-btn__update {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: rgb(40, 141, 40);
  color: white;
  cursor: pointer;
  transition: all 0.3s linear;
  min-width: 250px;
  font-size: 18px;
}

.task-btn__update:hover {
  background-color: rgb(40, 121, 40);
}
