.filter-status__wrapper {
  padding-block: 8px;
  display: flex;
  gap: 20px;
}

.filter-status__wrapper .btn {
  padding: 3px 8px;
  border-radius: 5px;
  background-color: rgb(212, 210, 210);
}

.filter-status__wrapper .active {
  background-color: rgb(92, 173, 248);
  font-weight: 600;
}