.task-item {
  padding: 5px 9px;
  /* background-color: white; */
  box-shadow: 1px 2px 3px 2px rgb(40, 141, 40, 0.54);
  display: flex;
  gap: .9375rem;
  align-items: center;
  justify-content: space-between;
}

/* .task-item__data {

} */

/* .task-item__data__title {

} */

/* .task-item__data__note {

} */

.task-item__management {
  display: flex;
  gap: 15px;
}

.task-item__management button {
  padding: 5px 9px;
  color: white;
  border-radius: 5px;
  transition: all 0.2s linear;
}

.task-item__management button:hover {
  transform: scale(1.05);
}

.task-item .task-btn__progress {
  background-color: rgb(120, 167, 33);
}

.task-item .task-btn__done {
  background-color: rgb(40, 141, 40);
}

.task-item .task-btn__del {
  background-color: rgb(207, 65, 65);
}


/* style task--done */

.task-item.task--done {
  box-shadow: 1px 2px 3px 2px rgb(123, 123, 123, 0.54);
}

.task-item__data__title.task--done {
  text-decoration: line-through;
  opacity: 0.5;
}

.task-item__data__note.task--done {
  text-decoration: line-through;
  opacity: 0.5;
}

.task-btn__progress.task--done {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: grey;
}

.task-btn__done.task--done {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: grey;
}

/* style task--processing */

.task-item.task--processing {
  box-shadow: 1px 2px 3px 2px rgb(120, 167, 33, 0.54);
}

.task-item__data__title.task--processing {
  opacity: 0.75;
  text-decoration: underline;
}

.task-btn__progress.task--processing {
  cursor: not-allowed;
  color: yellow;
  background-color: rgb(40, 141, 40);
}