.task-list__container {
  max-width: 1020px;
  padding: 10px 15px;
  margin: 0 auto;
}

.todo-promotion {
  padding: 15px 20px;
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
  color: green;
  box-shadow: 1px 2px 3px 2px rgb(40, 141, 40, 0.54);
}

.task-list {
  padding: 1rem;
  border: 2px solid rgb(92, 173, 248, 0.7);
  border-radius: 5px 15px 15px 15px;
  box-shadow: 0px 0px 8px rgb(92, 173, 248) inset;
  /* counter-reset: item; */
}

/* .task-list li::before {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
} */

.task-list > :not(:last-child) {
  margin-bottom: 10px;
}