.task-list__container {
  max-width: 1020px;
  padding: 10px 15px;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
  border: 2px solid rgb(25, 117, 174);
  border-radius: 5px 12px 20px 20px;
  /* counter-reset: item; */
}

/* .task-list li::before {
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
} */

.task-list > :not(:last-child) {
  margin-bottom: 10px;
}